* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* Primary */
   --Bright-orange: hsl(31, 77%, 52%);
   --Dark-cyan: hsl(184, 100%, 22%);
   --Very-dark-cyan: hsl(179, 100%, 13%);
   /*  Neutral */
   --Transparent-white: hsla(0, 0%, 100%, 0.75);
   --Very-light-gray: hsl(0, 0%, 95%);
   /* Fonts */
   --font-family-lexend: 'Lexend Deca', sans-serif;
   --font-family-big: 'Big Shoulders Display', cursive;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.card-sedans,
.card-suvs,
.card-luxury {
   width: 300px;
   height: 480px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 40px;
}

.Title {
   font-size: 1.8rem;
   line-height: 100px;
   font-weight: 700;
   font-family: var(--font-family-big);
   color: var(--Very-light-gray);
   text-transform: uppercase;
}

.description {
   width: 195px;
   font-weight: 400;
   font-family: var(--font-family-lexend);
   color: var(--Transparent-white);
   font-size: 0.7rem;
   line-height: 25px;
}

.card-sedans {
   background-color: var(--Bright-orange);
   border-radius: 8px 0 0 8px;
}

.card-suvs {
   background-color: var(--Dark-cyan);
}

.card-luxury {
   background-color: var(--Very-dark-cyan);
   border-radius: 0 8px 8px 0;
}

img {
   width: 60px;
}

button {
   width: 140px;
   margin-top: 90px;
   border: none;
   outline: none;
   padding: 12px;
   font-family: var(--font-family-lexend);
   font-weight: 400;
   font-size: 0.7rem;
   border-radius: 50px;
   cursor: pointer;
   border: 2px solid var(--Very-light-gray);
}

button:hover {
   background-color: transparent;
   color: var(--Very-light-gray);
}

.btn-card-1 {
   color: var(--Bright-orange);
}

.btn-card-2 {
   color: var(--Dark-cyan);
}

.btn-card-3 {
   color: var(--Very-dark-cyan);
}

@media (max-width: 925px) {

   .card-sedans,
   .card-suvs,
   .card-luxury {
      width: 250px;
      padding: 30px;
   }
}

@media (max-width: 875px) {
   .container {
      display: flex;
      flex-direction: column;
      margin: 30px
   }

   .card-sedans,
   .card-suvs,
   .card-luxury {
      width: 300px;
      height: 400px;
   }

   button {
      margin-top: 30px;
   }

   .card-sedans {
      border-radius: 8px 8px 0 0;
   }

   .card-luxury {
      border-radius: 0 0 8px 8px;
   }
}