* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /*  Primary */
   --Cyan: hsl(179, 62%, 43%);
   --Bright-Yellow: hsl(71, 73%, 54%);
   /* Neutral */
   --Light-Gray: hsl(204, 43%, 93%);
   --Grayish-Blue: hsl(218, 22%, 67%);
}

body {
   min-height: 100vh;
   display: grid;
   font-family: 'Karla', sans-serif;
   place-content: center;
   background-color: var(--Light-Gray);
}

main {
   width: 830px;
   height: 590px;
   border-radius: 8px;
   box-shadow: 0px 7px 25px 2px rgba(0, 0, 0, 0.1);
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 250px 340px;
   grid-template-areas: "description description"
      "subscription-plan info";
}

.description,
.subscription-plan,
.info {
   padding: 50px;
}

.description {
   display: grid;
   grid-area: description;
   background-color: rgb(253, 246, 246);
   border-radius: 8px 8px 0 0;

}

h1 {
   font-size: 1.4rem;
   color: var(--Cyan);
}

.description-info {
   font-size: 1rem;
   font-weight: 700;
   color: var(--Bright-Yellow);
   padding-top: 30px;
   padding-bottom: 15px;
}

.description-text {
   color: var(--Grayish-Blue);
   line-height: 30px;
}

.subscription-plan {
   display: grid;
   grid-area: subscription-plan;
   background-color: var(--Cyan);
   border-radius: 0 0 0 8px;

}

h3 {
   font-size: 1.1rem;
   color: var(--Light-Gray);
   height: 30px;
}

.subscription-price {
   height: 80px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.price-plan {
   font-size: 2rem;
   font-weight: 700;
   color: rgb(253, 246, 246);
}

.details-plan {
   margin-left: 20px;
   font-weight: 400;
   color: hsl(212, 13%, 80%);
}

.description-plan {
   color: var(--Light-Gray);
   font-size: 1rem;
   padding-bottom: 40px;
   flex-direction: row;
   justify-content: center;
   align-items: end;
}

a {
   display: grid;
   align-self: end;
   align-items: center;
   justify-self: center;
   text-decoration: none;
   text-align: center;
   background-color: var(--Bright-Yellow);
   border-radius: 6px;
   width: 312px;
   height: 55px;
   color: var(--Light-Gray);
   font-weight: 700;
   box-shadow: 0px 2px 10px 0px #848484;
}

.info {
   display: grid;
   grid-area: info;
   background-color: hsl(179, 52%, 49%);
   border-radius: 0 0 8px 0;
}

.info-text {
   font-size: 0.9rem;
   width: 210px;
   color: hsl(216, 8%, 88%);
   line-height: 25px;
}

@media (min-width: 425px) and (max-width: 875px) {
   main {
      width: 380px;
      height: 890px;
      margin: 70px;
   }

   .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 300px 1fr;
      grid-template-areas: "description"
         "subscription-plan"
         "info";
   }

   .description,
   .subscription-plan,
   .info {
      padding: 30px;
   }

   h1 {
      font-size: 1.2rem;
   }

   .description-text {
      width: 300px;
   }

   .description-info {
      line-height: 25px;
      width: 330px;
      padding-top: 30px;
   }

   .subscription-plan {
      border-radius: 0;
   }

   a {
      align-self: end;
      align-items: center;
      justify-self: center;
      width: 330px;
   }

   .info {
      border-radius: 0 0 8px 8px;
   }

   .info-text {
      padding-top: 20px;
   }
}

@media (max-width: 425px) {
   main {
      width: 300px;
      height: 890px;
      margin: 50px;
   }

   .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 300px 1fr;
      grid-template-areas: "description"
         "subscription-plan"
         "info";
   }

   .description,
   .subscription-plan,
   .info {
      padding: 20px;
   }

   h1 {
      font-size: 1.2rem;
   }

   .description-text {
      width: 280px;
   }

   .description-info {
      line-height: 25px;
      width: 280px;
      padding-top: 30px;
   }

   .subscription-plan {
      border-radius: 0;
   }

   .description-plan {
      font-size: 0.9rem;
   }

   a {
      align-self: end;
      align-items: center;
      justify-self: center;
      width: 280px;
   }

   .info {
      border-radius: 0 0 8px 8px;
   }

   .info-text {
      padding-top: 20px;
   }
}